.landing.day {
    max-height: 30vh;
    margin-bottom: 1rem;
}
.landing .text {
    position: absolute;
    bottom: -1rem;
    width: 100%;
}
.day-card {
    background-color: var(--text-color);
    color: var(--secondary-background);
    border-radius: var(--radius-small);
    max-height: 75vh;
    aspect-ratio: 3/4;
    margin: auto;
    overflow: clip;
}
.day-card .img {
    border-bottom-left-radius: var(--radius-small);
    border-bottom-right-radius: var(--radius-small);
    overflow: clip;
}
.day-card .img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: var(--basic-transition);
}
.day-card .img:hover img {
    transform: scale(1.15);
}
.map-container {
    width: 100%;
    overflow: clip;
}
.map-container .map {
    width: 100%;
}
.map-container iframe {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.itinerary-grid {
    display: grid;
    height: 100%;
    width: 100%;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(400px, 1fr));
    background-color: var(--secondary-background);
    border-top-left-radius: var(--radius);
    border-top-right-radius: var(--radius);
}
.breadcrumb {
    color: rgba(230, 238, 245, 0.75);
}
.breadcrumb a {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-decoration-color: rgba(230, 238, 245, 0.75);
}