/* itinerary page */
.landing.itinerary {
    max-height: 30vh;
    margin-bottom: 1rem;
}
.landing.itinerary::after, .landing.itinerary::before {
    border-bottom-left-radius: var(--radius);
    border-bottom-right-radius: var(--radius);
    overflow: clip;
}
.landing.itinerary h1 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -1.2rem;
    width: 100%;
}
.itinerary-wrapper {
    max-width: 100%;
    margin-bottom: calc(2 * var(--spacer));
}
.itinerary-summary {
    max-width: 85%;
    align-self: center;
}
.itinerary-heading {
    font-size: var(--header-font);
}
.day-img::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to bottom, rgba(0,0,0, 0) 55%, rgb(6, 14, 13) 95%, rgba(6, 14, 13, 0.8));
    opacity: 0.5;
    z-index: 1;
}
.day-img {
    border-radius: var(--radius-small);
    overflow: clip;
    z-index: 0;
    max-height: 50%;
    aspect-ratio: 4/3;
    margin-inline: auto;
}
.day-img img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    max-height: 60vh;
    transition: var(--basic-transition);
}
.day-img:hover img {
    transform: scale(1.15);
}
.google .img::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to bottom, rgba(0,0,0, 0) 55%, rgb(6, 14, 13) 95%, rgba(6, 14, 13, 0.8));
    opacity: 0.5;
    z-index: 1;
}
.google .map, .google .img {
    border-radius: var(--radius-small);
    overflow: clip;
    z-index: 0;
    aspect-ratio: 1/1;
    flex: 1 1 calc(50% - var(--spacer));
    max-height: 45vh;
}
.google .map iframe {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.google .img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: var(--basic-transition);
}
.google .img:hover img {
    transform: scale(1.15);
}
.google {
    max-height: 45vh;
}
.itinerary-grid {
    display: grid;
    height: 100%;
    width: 100%;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(400px, 1fr));
    background-color: var(--secondary-background);
    border-top-left-radius: var(--radius);
    border-top-right-radius: var(--radius);
}
.itinerary-card {
    background-color: var(--text-color);
    color: var(--secondary-background);
    border-radius: var(--radius-small);
    max-height: 75vh;
    aspect-ratio: 3/4;
    margin: auto;
}
.itinerary-card .text {
    height: 100%;
}
a.day-view {
    align-self: end;
    justify-self: end;
    border-radius: var(--radius-small);
    overflow: clip;
}
button.day-view {
    backdrop-filter: blur(14px);
    background-color: rgba(255, 255, 255, 0.25);
    transition: var(--basic-transition);
}
a.day-view:hover button.day-view {
    transform: scale(1.05);
}

@media screen and (width > 600px ) {
    .itinerary-summary {
        justify-self: center;
        align-self: center;
        text-align: center;
        max-width: 75%;
    }
} 