/* Design by Leslie Hurtado, Emma Pacheco, Nathan Perez, and Miguel Garcia */
/* ps. try to design for mobile first, it's easier in the longrun */

/* typography */
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.serif {
    font-family: 'EB Garamond', serif;
}

.uppercase {
    text-transform: uppercase;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Inter', sans-serif;
}

h1 {
    font-size: clamp(1.75rem, 2vmin, 5rem);
}

h2 {
    font-size: clamp(1.20rem, 1.8vmin, 3rem);
}

.voyage-header {
    font-size: 2rem;
}
.voyage-subheader {
    font-size: 1rem;
}

.subheader {
    font-family: 'Hanken Grotesk', sans-serif;
    font-weight: 600;
    font-size: clamp(1.20rem, 3vmin, 4rem);
}

.hero {
    font-size: clamp(2.5rem, 6vmin, 12rem);
}

em {
    font-style: italic;
}

/* root */
:root {
    font-size: 12px;
    --mainLight : #e6eef5;
    --mainDark : rgb(6, 13, 12);
    --secondaryDark : rgb(15, 20, 20);
    --accentOne : #676f7c;
    --accentTwo : #c83e21;
    --headerGradient : linear-gradient(90deg,rgba(6, 13, 12, 0.1) 10%, rgba(6, 13, 12, 0.75) 50%, rgba(6, 13, 12, 0.1) 90%);
    --spacer: 3vh;
    --spacer1x: 10vw;
    --radius: 80px;
}

/* animations */
@keyframes bounce {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(0.2rem);
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes staggerFadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: .2;
    }

    100% {
        opacity: 1;
    }
}



/* general */
html,
body {
    overscroll-behavior-block: none;
    overscroll-behavior-y: none;
}

body {
    font-size: clamp(1.12rem, 2.25vmin, 3rem);
    text-rendering: optimizeLegibility;
    font-family: 'Hanken Grotesk', sans-serif;
    font-style: normal;

    overflow-x: clip;
    overflow-y: auto;

    color: var(--mainLight);
    background-color: var(--secondaryDark);

    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    grid-template-rows: auto;
    align-items: start;
    gap: 1.5rem;
    position: relative;
}

header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: var(--headerGradient);
    mix-blend-mode: multiply;
    z-index: -1;
}

a:hover {
    cursor: pointer;
}

header {
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: transparent;
    grid-column: 1/13;
    padding-inline: var(--spacer1x);
    padding-block: 1.75vh;

    display: flex;
    align-items: center;

    backdrop-filter: blur(4px);
}

header .title-wrapper {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin-inline: auto;
}

.hamburger-wrapper {
    height: auto;
    width: 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.hamburger-line {
    height: 2px;
    width: 80%;

    background-color: var(--mainLight);

    margin-block: 0.25rem;
    border: none;
    border-radius: 1.5px;
    transition: 200ms ease-in-out;
}

.hamburger-wrapper.active span {
    margin: 0;
    padding: 0;

}

.hamburger-wrapper.active span:nth-child(2) {
    transform:
        rotate(45deg) translateX(0.1rem);
}

.hamburger-wrapper.active span:last-child {
    transform:
        rotate(-45deg) translateX(0.1rem);
}

.hamburger-wrapper.active span:nth-child(1) {
    opacity: 0;
}

nav {
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-column: 1/13;
    height: 100%;
    background-color: var(--secondaryDark);
    z-index: 9;
    padding-block: var(--spacer1x);
}

nav.active {
    height: 100dvh;
    width: 100%;
}

.stagger li {
    opacity: 0;
    transform: translateX(-100%);
    transition: transform 400ms cubic-bezier(0.75, -0.015, 0.565, 1.055),
        opacity 400ms cubic-bezier(0.75, -0.015, 0.565, 1.055);
    transition-timing-function: cubic-bezier(0.75, -0.015, 0.565, 1.055);
    transition-delay: calc(0.15s * var(--i));
}

nav.active .stagger li {
    opacity: 1;
    transform: translateX(0);
}

nav:not(.active) .stagger li {
    opacity: 0;
    transform: translateX(-100%);
    transition-delay: 0;
}

nav ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-block: var(--spacer1x);
    height: 100%;
}

.nav-link {
    position: relative;
    font-size: clamp(1.5rem, 3vmin, 4rem);
}

.nav-link::after {
    content: '';
    position: absolute;
    background-color: var(--mainLight);
    height: 2px;
    width: 0%;
    left: 0;
    bottom: -0.1rem;
    transition: width 300ms ease-in-out;
}

.nav-link:hover::after {
    width: 100%;
    transition: width 300ms ease-in-out;
}

.logo-wrapper {
    max-width: calc(2.5 * var(--spacer1x));
}

.spin-logo {
    animation: spin 14s linear(0, 0.0221, 0.0739, 0.1485, 0.2394, 0.3402, 0.4458, 0.5517, 0.6541, 0.7502, 0.8375, 0.9149, 0.9813, 1.0364, 1.0803, 1.1136, 1.1369, 1.1513, 1.1579, 1.1578, 1.1522, 1.1424, 1.1294, 1.1142, 1.0978, 1.081, 1.0643, 1.0485, 1.0338, 1.0205, 1.009, 0.9992, 0.9912, 0.9849, 0.9803, 0.9772, 0.9754, 0.9748, 0.9752, 0.9764, 0.9782, 0.9804, 0.9829, 0.9856, 0.9882, 0.9908, 0.9933, 0.9955, 0.9975, 0.9992, 1.0007, 1.0018, 1.0027, 1.0034, 1.0038, 1.004, 1.004, 1.0039, 1.0036, 1.0033, 1.0029, 1.0025, 1.0021, 1.0017, 1.0013, 1.0009, 1.0006, 1.0003, 1, 0.9998, 0.9996, 0.9995, 0.9994, 0.9994, 0.9994, 0.9994, 0.9994, 0.9994, 0.9995, 0.9996, 0.9996, 0.9997, 0.9998, 0.9998, 0.9999, 0.9999, 1, 1, 1, 1.0001, 1.0001, 1.0001, 1.0001, 1.0001, 1.0001, 1.0001, 1.0001, 1.0001, 1.0001, 1.0001, 1) 1,
               spin 12s linear 8s infinite;
}

.spin {
    animation: spin 12s linear infinite;
}

main {
    grid-column: 1/13;
    position: relative;
}

footer {
    grid-column: 1/13;
    text-align: center;
    padding-block: var(--spacer);
    padding-inline: var(--spacer1x);
}

.landing::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../images/terrace.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.5;
    z-index: -1;
}

.landing {
    background-image: linear-gradient(transparent 80%, var(--secondaryDark) 100%);
    position: relative;
    padding: var(--spacer1x);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    max-height: 100vh;
}

.landing .text-wrapper {
    margin: auto;
    text-align: center;
}

.landing.sidepage {
    min-height: 50vh;
    max-height: 60vh;
}

.spacer {
    padding-inline: var(--spacer1x);
}
.spacer div {
    margin-block: var(--spacer);
}


/* cosmetic */
.hidden {
    opacity: 0;
    position: absolute;
    left: -10000px;
    top: auto;
    overflow: hidden;
    visibility: hidden;
}
.center {
    text-align: center;
}
.indent {
    padding-block: var(--spacer);
    display: flex;
    flex-direction: column;
    gap: var(--spacer);
}
.indent li {
    position: relative;
    padding-inline: 3vw;
    width: fit-content;
    transition: 300ms ease-in-out;
}
.indent li::before {
    content: '';
    position: absolute;
    left: 1.5vw;
    top: 0;
    width: 0.55vw;
    background-color: var(--mainLight);
    height: 95%;
    z-index: -1;
    transition: width 300ms ease-in-out;
}
.indent li:hover::before {
    width: 100%;
}
.indent li:hover {
    color: var(--secondaryDark);
}
.indent li:not(:hover) {
    transition: 300ms ease-in-out;
}

.bounce {
    animation: bounce 1.5s 300ms infinite alternate;
}
.stagger-fade-in > * {
    opacity: 0;
    animation-name: staggerFadeIn;
    animation-duration: 800ms;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.75, -0.015, 0.565, 1.055);
    animation-delay: calc(0.45s * var(--i));
}
.typewrite {
    position: relative;
    display: inline-block;
    white-space: nowrap;
}
.typewrite::before {
    content: attr(data-ghost);
    display: block;
    visibility: hidden;
    height: auto;
    white-space: nowrap;

}
.loading-messages {
    height: 12vh;
}

section {
    padding-block: var(--spacer1x);
}

.card {
    position: relative;
    margin-block: var(--spacer);
    padding-inline: var(--spacer1x);
    width: 100%;
    overflow: clip;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
}

.card .picture,
.card .text {
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: 75%;
    max-height: 65vh;
}

.card .picture {
    justify-self: end;
    aspect-ratio: 9/16;
}

.card .picture.right {
    justify-self: start;
}

.card .text.right {
    justify-self: end;
}

.card .picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card .text {
    height: 75%;
    width: fit-content;
    margin-block: auto;
    padding-inline: var(--spacer);
}
.card .text::before {
    content: '';
    position: absolute;
    border: 2px solid var(--accentTwo);
    height: 100%;
    width: 100%;
    z-index: -1;
    aspect-ratio: 9/16;
}
.card .text.rbox::before {
    top: 50%;
    transform: translateY(-55%);
    left: -20%;
    width: calc(100% + 20%);
}
.card .text.lbox::before {
    top: 50%;
    transform: translateY(-55%);
    right: -20%;
    width: calc(100% + 20%);
}

.card .text>* {
    grid-column: 2/4;
}

.tagline {
    padding-block: var(--spacer);
}

.card .picture::before {
    content: '';
    position: absolute;

}

.card.stamped {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(2, minmax(0, 1fr));
    place-content: center;

}
.card.stamped .picture {
    grid-row: 1;
    grid-column: 1;
    max-height: 40svh;
    justify-self: center;
}
.card.stamped .picture::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translate(-35%, -60%);
    background-image: url('../images/vector-anchor-stamp.svg');
    width: 135%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: -1;
}
.card.stamped .text {
    justify-self: center;
    grid-column: 1;
    grid-row: 2;
    height: 85%;
    padding-top: 15%;
    max-width: 100%;
    margin-block: -20%;
}
.card.stamped .text::before {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -55%);
}

.card .cta {
    background-color: var(--accentOne);
    margin-top: auto;
    margin-inline: auto;
    width: fit-content;
}

.cta {
    padding: 1.75vh;
    transition: 600ms ease-in-out;
}

.cta:hover {
    background-color: var(--mainLight);
    color: var(--mainDark);
}

.cta:hover .arrow {
    filter: brightness(0.15);
    transform: rotate(-90deg);
}

.black-arrow {
    filter: brightness(0.15);
}

.up-facing {
    transform: rotate(-137deg) translateY(-1vh) translateX(-0.15vmin);
}

.arrow {
    width: clamp(1.20rem, 2.5vmin, 4rem);
    height: auto;
    transition: 600ms ease-in-out;
    z-index: 5;
}

.arrow-wrapper {
    position: relative;
    width: auto;
    height: 100%;
}

.text-arrow-wrapper h3 {
    z-index: 1;
}

.text-arrow-wrapper:hover .arrow {
    transform: rotate(-90deg);
}

.text-arrow-wrapper:hover {
    color: var(--mainDark);
}

.arrow-wrapper::before {
    content: '';
    position: absolute;
    top: calc( 50% + 0.5vh);
    left: 50%;
    translate: -65% -45%;
    height: 200%;
    width: 200%;
    background-color: var(--mainLight);
    border-radius: 100%;
    z-index: 0;
    transition: height 800ms ease-in-out,
        width 800ms ease-in-out;
}

.text-arrow-wrapper:hover .arrow-wrapper::before {
    width: 3000px;
    height: 2000px;
}

.text-arrow-wrapper {
    text-align: center;
    display: flex;
    border: 1px solid var(--mainLight);
    border-radius: var(--radius);
    padding: var(--spacer);
    gap: var(--spacer);
    overflow: clip;
    transition: 600ms ease-in-out;
}

form {
    display: flex;
    flex-direction: column;
    gap: var(--spacer1x);
    padding-inline: var(--spacer1x);
}

label {
    padding-block-start: var(--spacer1x);
    margin-block-end: -2rem;
}


.input-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    cursor: pointer;
    gap: var(--spacer);
}


.input-container:not(:first-child),
.input-container:not(:last-child) {
    padding-block-start: 0;
    margin-block-end: -2rem;
}

input[type="number"],
input[type="text"],
input[type="date"] {
    border-bottom: 1px solid var(--mainLight);
}

div.checkbox {
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
}
div.checkbox label, div.checkbox input {
    margin: 0;
    padding: 0;
}


button {
    cursor: pointer;
}

.itinerary-form {
    padding-inline: var(--spacer1x);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.range-slider.gradient {
    /* ref do something */
    --progress-shaodw: 2px 2px 4px rgba(0,0,0,0.2) inset;
    --progress-fill-shadow: var(--progress-shadow);
    --fill-color: linear-gradient(to right, var(--mainLight), var(var(--accentOne)));
    --thumb-shadow: 0 0 4px rgba(0,0,0,0.3),
                    -3px 9px 9px rgba(255, 255, 255, 0.33) inset,
                    -1px 3px 2px rgba(255, 255, 255, 0.33) inset,
                    0 0 0 99px var(--accentOne) inset;
}
.range-slider.gradient input:hover {
    --thumb-transform: scale(1.2);
}
.range-slider.gradient input:active {
    --thumb-shadow: inherit;
    --thumb-transform: scale(1);
}

.range-slider {
    --primary-color: var(--accentOne);

    --value-offset-y: var(--ticks-gap);
    --value-active-color: var(--mainLight);
    --value-background: transparent;
    --value-background-hover: var(--accentTwo);
    --value-font: 700 12px/1 'Hanken Grotesk';

    --fill-color: var(--primary-color);
    --progress-background: var(--primary-color);
    --progress-radius: 20px;
    --track-height: calc(var(--thumb-size) / 2);

    --min-max-font: 12px 'Hanken Grotesk';
    --min-max-opacity: 0.5;
    --min-max-x-offset: 10%;

    --thumb-size: 22px;
    --thumb-color: var(--mainLight);
    --thumb-shadow: 0 0 3px rgba(0,0,0, 0.4), 0 0 1px rgba(0,0,0, 0.5) inset,
                    0 0 0 99px var(--thumb-color) inset;
    --thumb-shadow-active: 0 0 0 calc(var(--thumb-size) / 4) inset
                            var(--thumb-color),
                            0 0 0 99px var(--primary-color) inset, 0 0 3px rgba(0, 0, 0, 0.4);
    --thumb-shadow-hover: var(--thumb-shadow);

    --ticks-thickness: 1px;
    --ticks-height: 5px;
    --ticks-gap: var(--ticks-height, 0);
    --ticks-color: var(--primary-color);

    --step: 1;
    --ticks-count: calc(var(--max) - var(--min) / var(--step));
    --maxTicksAllowed: 30;
    --too-many-ticks: Min(1, Max(var(--ticks-count) - var(--maxTicksAllowed), 0));
    --x-step: Max( var(--step), var(--too-many-ticks) * (var(--max) - var(--min)));
    --tickInterval: 100/ ((var(--max) - var(--min)) / var(--step)) * var(--tickEvery, 1);
    --tickIntervalPerc: calc(
        (100% - var(--thumb-size)) / ((var(--max) - var(--min)) / var(--x-step)) *
        var(--tickEvery, 1)
    );
    --value-a: Clamp(
        var(--min),
        var(--value, 0),
        var(--max)
    );
    --value-b: var(--value, 0); 
    --text-value-a: var(--text-value, "");

    --completed-a: calc(
        (var(--value-a) - var(--min)) / (var(--max) - var(--min)) * 100
    );
    --completed-b: calc(
        (var(--value-b) - var(--min)) / (var(--max) - var(--min)) * 100
    );
    --ca: Min(var(--completed-a), var(--completed-b));
    --cb: Max(var(--completed-a), var(--completed-b));
    --thumbs-too-close: Clamp(
        -1,
        1000 * (Min(1, Max(var(--cb) - var(--ca) - 5, -1)) + 0.001),
        1
    );
    --thumb-close-to-min: Min(1, Max(var(--ca) - 2, 0));
    --thumb-close-to-max: Min(1, Max(98 - var(--cb), 0)); 

    display: inline-block;
    height: max(var(--track-height), var(--thumb-size));
    background: linear-gradient(to right, var(--ticks-color) var(--ticks-thickness), transparent 1px) repeat-x;
    background-size: var(--tickIntervalPerc) var(--ticks-height);
    background-position-x: calc( var(--thumb-size) / 2 - var(--ticks-thickness) / 2 );
    background-position-y: var(--flip-y, bottom);
    padding-bottom: var(--flip-y, var(--ticks-gap));
    padding-top: calc(var(--flip-y) * var(--ticks-gap));
    position: relative;
    z-index: 1;
}
.range-slider[data-ticks-position=top] {
    --flip-y: 1;
}
.range-slider::before, .range-slider::after {
    --offset: calc(var(--thumb-size) / 2);
    content: counter(x);
    display: var(--show-min-max, block);
    font: var(--min-max-font);
    position: absolute;
    bottom: var(--flip-y, -2.5ch);
    top: calc(-2.5ch * var(--flip-y));
    opacity: clamp(0, var(--at-edge), var(--min-max-opacity));
    transform: translateX(calc(var(--min-max-x-offset) * var(--before, -1) * -1)) scale(var(--at-edge));
    pointer-events: none;
}
.range-slider::before {
  --before: 1;
  --at-edge: var(--thumb-close-to-min);
  counter-reset: x var(--min);
  left: var(--offset);
}
.range-slider::after {
  --at-edge: var(--thumb-close-to-max);
  counter-reset: x var(--max);
  right: var(--offset);
}
.range-slider__values {
  position: relative;
  top: 50%;
  line-height: 0;
  text-align: justify;
  width: 100%;
  pointer-events: none;
  margin: 0 auto;
  z-index: 5;
}
.range-slider__values::after {
  content: "";
  width: 100%;
  display: inline-block;
  height: 0;
  background: red;
}
.range-slider__progress {
  --start-end: calc(var(--thumb-size) / 2);
  --clip-end: calc(100% - (var(--cb)) * 1%);
  --clip-start: calc(var(--ca) * 1%);
  --clip: inset(-20px var(--clip-end) -20px var(--clip-start));
  position: absolute;
  left: var(--start-end);
  right: var(--start-end);
  top: calc( var(--ticks-gap) * var(--flip-y, 0) + var(--thumb-size) / 2 - var(--track-height) / 2 );
  height: calc(var(--track-height));
  background: var(--progress-background, #eee);
  pointer-events: none;
  z-index: -1;
  border-radius: var(--progress-radius);
}
.range-slider__progress::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  -webkit-clip-path: var(--clip);
          clip-path: var(--clip);
  top: 0;
  bottom: 0;
  background: var(--fill-color, black);
  box-shadow: var(--progress-flll-shadow);
  z-index: 1;
  border-radius: inherit;
}
.range-slider__progress::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  box-shadow: var(--progress-shadow);
  pointer-events: none;
  border-radius: inherit;
}
.range-slider > input {
  -webkit-appearance: none;
  width: 100%;
  height: var(--thumb-size);
  margin: 0;
  position: absolute;
  left: 0;
  top: calc( 50% - Max(var(--track-height), var(--thumb-size)) / 2 + calc(var(--ticks-gap) / 2 * var(--flip-y, -1)) );
  cursor: -webkit-grab;
  cursor: grab;
  outline: none;
  background: none;
}
.range-slider > input:not(:only-of-type) {
  pointer-events: none;
}
.range-slider > input::-webkit-slider-thumb {
  -webkit-appearance: none;
          appearance: none;
  height: var(--thumb-size);
  width: var(--thumb-size);
  transform: var(--thumb-transform);
  border-radius: var(--thumb-radius, 50%);
  background: var(--thumb-color);
  box-shadow: var(--thumb-shadow);
  border: none;
  pointer-events: auto;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}
.range-slider > input::-moz-range-thumb {
  -moz-appearance: none;
       appearance: none;
  height: var(--thumb-size);
  width: var(--thumb-size);
  transform: var(--thumb-transform);
  border-radius: var(--thumb-radius, 50%);
  background: var(--thumb-color);
  box-shadow: var(--thumb-shadow);
  border: none;
  pointer-events: auto;
  -moz-transition: 0.1s;
  transition: 0.1s;
}
.range-slider > input::-ms-thumb {
  appearance: none;
  height: var(--thumb-size);
  width: var(--thumb-size);
  transform: var(--thumb-transform);
  border-radius: var(--thumb-radius, 50%);
  background: var(--thumb-color);
  box-shadow: var(--thumb-shadow);
  border: none;
  pointer-events: auto;
  -ms-transition: 0.1s;
  transition: 0.1s;
}
.range-slider > input:hover {
  --thumb-shadow: var(--thumb-shadow-hover);
}
.range-slider > input:hover + output {
  --value-background: var(--value-background-hover);
  --y-offset: -5px;
  color: var(--value-active-color);
  box-shadow: 0 0 0 3px var(--value-background);
}
.range-slider > input:active {
  --thumb-shadow: var(--thumb-shadow-active);
  cursor: -webkit-grabbing;
  cursor: grabbing;
  z-index: 2;
}
.range-slider > input:active + output {
  transition: 0s;
}
.range-slider > input:nth-of-type(1) {
  --is-left-most: Clamp(0, (var(--value-a) - var(--value-b)) * 99999, 1);
}
.range-slider > input:nth-of-type(1) + output {
  --value: var(--value-a);
  --x-offset: calc(var(--completed-a) * -1%);
}
.range-slider > input:nth-of-type(1) + output:not(:only-of-type) {
  --flip: calc(var(--thumbs-too-close) * -1);
}
.range-slider > input:nth-of-type(1) + output::after {
  content: var(--prefix, "") var(--text-value-a) var(--suffix, "");
}
.range-slider > input:nth-of-type(2) {
  --is-left-most: Clamp(0, (var(--value-b) - var(--value-a)) * 99999, 1);
}
.range-slider > input:nth-of-type(2) + output {
  --value: var(--value-b);
}
.range-slider > input:only-of-type ~ .range-slider__progress {
  --clip-start: 0;
}
.range-slider > input + output {
  --flip: -1;
  --x-offset: calc(var(--completed-b) * -1%);
  --pos: calc(
    ((var(--value) - var(--min)) / (var(--max) - var(--min))) * 100%
  );
  pointer-events: none;
  position: absolute;
  z-index: 5;
  background: var(--value-background);
  border-radius: 10px;
  padding: 2px 4px;
  left: var(--pos);
  transform: translate(var(--x-offset), calc( 150% * var(--flip) - (var(--y-offset, 0px) + var(--value-offset-y)) * var(--flip) ));
  transition: all 0.12s ease-out, left 0s;
}
.range-slider > input + output::after {
  content: var(--prefix, "") var(--text-value-b) var(--suffix, "");
  font: var(--value-font);
}

/* loading page (placeholder/draft) */
#loader {
    position: fixed;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    z-index: 999;
    background-color: var(--mainDark);
    display: grid;
    place-content: center;
    gap: 5vw;
}

/* Contact page */
.contact-form {
    padding-inline: var(--spacer1x);
    display: flex;
    flex-direction: column;
    gap: var(--spacer);
}
.contact-form button {
    max-width: 15vw;
}
#contactForm, #contactForm fieldset {
    padding-inline: var(--spacer);
    display: flex;
    flex-direction: column;
    gap: var(--spacer);
}
legend {
    padding-block: var(--spacer);
}

/* itinerary page */

.itinerary-wrapper {
    display: block;
    padding-inline: var(--spacer1x);
    background-color: var(--secondaryDark);
    position: relative;
    
}

.navigation-days {
    position: sticky;
    top: calc(var(--hHeight) + var(--spacer));
    left: 50%; 
    transform: translateX(-50%);
    width: fit-content; 
    margin-bottom: -4vh;
}

.itinerary-top-navigation {
    display: inline-flex;
    padding-block: var(--spacer);
    padding-inline: 5vw;
    margin-bottom: -5rem;
    border-radius: 50rem;
    gap: var(--spacer1x);
    justify-content: space-between;
    width: 100%;
    background-image: linear-gradient(var(--secondaryDark), rgba(103, 111, 124));
}

.itinerary-top-navigation li {
    font-size: 1.20rem;
}

.itinerary-heading {
    font-size: clamp(1.75rem, 3vmin, 5rem);
}

.day-card {
    padding-top: calc(1.55 * var(--hHeight) + var(--spacer));
    margin-bottom: -20vh;
}
.day-card>* {
    margin-bottom: var(--spacer);
}

/* backgrounds */

.questionnaire::before {
    background-image: url('../images/boat-dinner.jpg');
}

.about::before {
    background-image: url('../images/light-house.jpg');
}

.faq::before {
    background-image: url('../images/coastal-city.jpg');
}

.contact::before {
    background-image: url('../images/little-boats.jpg');
}

.fourOfour::before {
    background-image: none;
}

.itinerary::before {
    background-image: var(--bg-img);
}

.landing.fourOfour {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

/* media queries */
/* accessibility */
@media (prefers-reduced-motion: no-preference) {
    html {
        scroll-behavior: smooth;
    }
}

/* EVERYTHING BREAKS AT 610PX FIX THIS LATER */

/* DESKTOP */
@media screen and (width > 700px) {
    :root {
        font-size: 14px;
    }

    /* layout */
    .card {
        gap: var(--spacer);
    }
}
/* tiny screen */
@media screen and (width < 445px) {
    :root {
        font-size: 10px;
        --spacer: 1.5vh;
    }
    body {
        font-size: 1rem;
    }
    .subheader {
        font-size: clamp(1.20rem, 2vmin, 2.5rem);
    }
    .cta {
        padding: 1vh;
    }
    .card.stamped .text {
        padding-top: var(--spacer1x);
    }
    .arrow-wrapper::before {
        translate: -55% -55%;
    }
    .up-facing {
        transform: rotate(-137deg) translateY(-0.2dvh) translateX(-0.15vmin);
    }
}