{% extends 'base.html' %}

{% block body %}

<section class="landing sidepage {{ current_page }}">
    <h1 class="serif hero">
        Behind Every Interface Is a Process
    </h1>
    <h2 class="subheader">Explore the tools, thinking, and team that shaped Voyage.</h2>
</section>
<section class="spacer">
    <div class="center">
        <p class="subheader"><strong>Voyage</strong> transforms travel planning into an effortless experience by blending AI-powered recommendations with a minimalist approach, we curate itineraries that feel practical and inspiring.</p>
    </div>

    <div class="center">
        <img src="{{ url_for('static', filename='images/icons/favicon.svg') }}" alt="wave stamp vector" class="center">
    </div>

    <div>
        <h1 class="serif">Our Mission</h1>
        <p>To make travel planning intuitive, elegant, and personal so every journey begins with inspiration.</p>
    </div>
    
    <div>
        <h1 class="serif">Behind the Build</h1>
        <p>Our app combiens the power of Gemini for intelligent itinerary generation and Unsplash for dynamic visuals. Built with Python, Flask, JavaScript, HTML, and CSS, Voyage delivers a lightweight, responsive, and refined experience.</p>
    </div>
    
    <div>
        <h1 class="serif">Design Philosophy</h1>
        <p>We believe travel tech should feel human. Every layout, image, and animation was crafted to evoke curiosity and calm &mdash; balancing clean precision with a sense of escape.</p>
    </div>
    
    <div>
        <h1 class="serif">Meet the Team</h1>
        <p>Voyage was created by four computer science majors passionate about merging design and technology.</p>
        <ul class="indent">
            <li><strong>Leslie Hurtado</strong> &mdash; Fullstack Developer & UX/UI Designer</li>
            <li><strong>Nathan Perez</strong> &mdash; AI Engineer</li>
            <li><strong>Emma Pacheco</strong> &mdash; UX/UI Designer</li>
            <li><strong>Miguel Garcia</strong> &mdash; Database Engineer</li>
        </ul>
   </div>

   <img src="{{ url_for('static', filename='images/vector-anchor-stamp.svg') }}" alt="anchor stamp">
    
</section>

{% endblock %}