{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/contact.css') }}">
{% endblock %}

{% block body %}

<section class="landing sidepage {{ current_page }}">
    <h1 class="serif hero">
        We Are Here to Help You Plan With Confidence.
    </h1>
    <h2 class="subheader">Whether you have a question, suggestion, or just want to say hello &mdash; let's talk.</h2>
</section>

<section class="contact-form flex-column gap padding-inline">
    <h2 class="subheader">Voyage App Feedback</h2>
    <p>Let us know any ideas we could implement or any changes you'd like to see for its next implementation.</p>
    <form action="" id="contactForm" class="padding-inline flex-column gap">
        <fieldset class="padding-inline flex-column gap">
            <legend class="padding-block">Input Type: </legend>
                <div>
                    <input type="radio" name="feedback-type" value="comment">
                    <label for="comment">Comment</label>
                </div>
                <div>
                    <input type="radio" name="feedback-type" value="questions">
                    <label for="questions">Question</label>
                </div>
                <div>
                    <input type="radio" name="feedback-type" value="bugReports">
                    <label for="bugReports">Bug Report</label>
                </div>
                <div>
                    <input type="radio" name="feedback-type" value="featureRequest">
                    <label for="featureRequest">Feature Request</label>
                </div>
        
            <input type="text" name="feedback" placeholder="Your answer" required/>
        </fieldset>
        <button type="submit" class="text-arrow-wrapper">
            <div class="arrow-wrapper">
                <img src="{{ url_for('static', filename='images/arrow.svg') }}" alt="arrow" class="arrow up-facing black-arrow">
            </div>
            <h3 class="subheader">
                Submit
            </h3>
        </button>
    </form>
</section>  

{% endblock %}