{% extends 'base.html' %}


{% block body %}
<section class="landing">
    <div class="text-wrapper">
        <h2 class="hero serif">Travel with <em>Confidence</em></h2>
        <h2 class="hero serif"><em>Your Itinerary</em> Curated.</h2>
    </div>
    <div class="text-arrow-wrapper">
        <h3 class="subheader uppercase">Enter Voyage</h3>
        <img src="{{ url_for('static', filename='images/arrow.svg') }}" alt="downward pointed arrow" class="bounce">
    </div>
</section>
<section>
    
</section>
{% endblock %}