{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/itinerary.css') }}">
{% endblock %}

{% block body %}


    {% if not results %}
        <section>
            <h1>Itinerary Not Found</h1>
        </section>
    {% else %}
        <section class="landing sidepage itinerary flex-column flex-center">
        <h1 class="hero serif"> {{ results.city }} in {{ results.tripduration }} Days </h1>
        <h2 class="blurb sidepage"> {{ results.promotionalblurb }} </h2>
        </section>
        
        <section class="itinerary-wrapper padding-inline relative">
            <div class="navigation-days relative">
                <ul class="itinerary-top-navigation uppercase padding-block gap width-100">
                    {% for i in range(0, results["tripduration"], +1) %}
                        <a href="#day{{ i + 1 }}">
                        <li class="{{ i + 1 }}">
                            Day {{ i + 1 }}
                        </li>
                        </a>
                    {% endfor %}
                </ul>
            </div>
        {% for day in results["itineraryperday"] %}

            <section class="day-card" id="day{{ loop.index }}">
                <h3 class="itinerary-heading serif"> Day {{ loop.index }} </h3>
                <p> {{ day["daysummary"] }} </p>

                <div class="day-img relative">
                    {% if results['images'] %}
                        <img src="{{ results['images'][loop.index] }}" alt="">
                    {% endif %}
                </div>

                <h3 class="subheader">Lodging: </h3>
                <p>{{ day["lodging"]["name"] }} &mdash; {{ day["lodging"]["address"] }} | cost: {{ day["lodging"]["cost"] }} </p>

                {% for activity in day["timeblocks"]["morning"] %}
                <h3 class="subheader">{{ activity["time"] }}</h3>
                <p>{{ activity["name"] }} &mdash; {{ activity["address"] }} | cost: {{ activity["cost"] }} </p>
                <p>{{ activity["summary"] }}</p>
                <p><strong>Breakfast: </strong> {{ day["food"]["breakfast"]["restaurant"] }} &mdash; {{ day["food"]["breakfast"]["address"] }} | cost: {{ day["food"]["lunch"]["cost"]}}</p>
                {% endfor %}

                {% for activity in day["timeblocks"]["afternoon"] %}
                <h3 class="subheader">{{ activity["time"] }}</h3>
                <p>{{ activity["name"] }} &mdash; {{ activity["address"] }} | cost: {{ activity["cost"] }} </p>
                <p>{{ activity["summary"] }}</p>
                <p><strong>Lunch: </strong> {{ day["food"]["lunch"]["restaurant"] }} &mdash; {{ day["food"]["lunch"]["address"] }} | cost: {{ day["food"]["lunch"]["cost"]}}</p>
                {% endfor %}
                
                {% for activity in day["timeblocks"]["evening"] %}
                <h3 class="subheader">{{ activity["time"] }}</h3>
                <p>{{ activity["name"] }} &mdash; {{ activity["address"] }} | cost: {{ activity["cost"] }} </p>
                <p>{{ activity["summary"] }}</p>
                <p><strong>Dinner: </strong> {{ day["food"]["dinner"]["restaurant"] }} &mdash; {{ day["food"]["dinner"]["address"] }} | cost: {{ day["food"]["lunch"]["cost"]}}</p>
                {% endfor %}
                
            </section>
        {% endfor %}
        </section>
    {% endif %}
    {% if results["images"] %}
        <script>
            document.addEventListener('DOMContentLoaded', ()=>{
                const itinerary = document.querySelector('.itinerary');
                const imgURL = '{{ results["images"][0] }}';
                itinerary.style.setProperty('--bg-img', `url(${imgURL})`);
            })
        </script>
    {% endif %}

{% endblock %}