{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/itinerary.css') }}">
{% endblock %}

{% block body %}


    {% if not results %}
        <section>
            <h1>Itinerary Not Found</h1>
        </section>
    {% else %}
        <section class="landing sidepage itinerary flex-column flex-center padding">
            <h1 class="hero serif center"> {{ results.city }} in {{ results.tripduration }} Days </h1>
        </section>
        
        <section class="itinerary-wrapper relative flex-column padding-2x gap">
            <div class="flex width-100 space-between padding">
                <h4 class="itinerary-dates"> {{ existingPreferences.arrivaldate }} &mdash; {{ existingPreferences.departuredate }} </h4>
                <div class="buttons flex gap">
                    <a href="{{ url_for('itinerary.questionnaire', itinerary_id=existingPreferences.id) }}">
                        <button id="updateItinerary">
                                edit itinerary
                        </button>
                    </a>
                    <a href="{{ url_for('itinerary.questionnaire', itinerary_id=existingPreferences.id) }}">
                        <button id="saveItinerary">
                                save itinerary
                        </button>
                    </a>
                </div>
            </div>
            
            <h4 class="itinerary-summary"> {{ results.promotionalblurb }} </h4>
        </section>

        <section class="itinerary-grid padding-2x">
        {% for day in results["itineraryperday"] %}
            
                <section class="itinerary-card" >
                    {% if photos %}
                    <div class="day-img relative center justify-self margin-inline width-100">
                        <img src="{{ photos[loop.index] }}" alt="">
                    </div>
                    {% endif %}
                    <div class="text padding-2x flex flex-column gap">
                        <a href="{{ url_for('itinerary.display_itinerary', itinerary_id=existingItinerary.id, day=loop.index) }}">
                            <h1>Day {{ loop.index }}</h1>
                        </a>
                        <p class="summary">{{ day["daysummary"] }}</p>
                        <a href="{{ url_for('itinerary.display_itinerary', itinerary_id=existingItinerary.id, day=loop.index) }}" class="day-view flex flex-center relative" style="background-color: rgb{{ accents[loop.index] }}">
                            <button class="day-view padding">
                                Full View
                            </button>
                        </a>
                    </div>
                </section>

        {% endfor %}

        {% endif %}
    </section>

    {% if photos %}
        <script>
            document.addEventListener('DOMContentLoaded', ()=>{
                const itinerary = document.querySelector('.itinerary');
                const imgURL = ' {{ photos[0] }} ';
                itinerary.style.setProperty('--bg-img', `url(${imgURL})`);
            })
        </script>
    {% endif %}
    <script>const apiKey= '{{ googleKey }}';</script>
    <script src="{{ url_for('static', filename='javascript/itinerary.js') }}"></script>

{% endblock %}