{% extends 'base.html' %}

{% block body %}

<section>
    {% if not results %}
        <h1>Itinerary Not Found</h1>
        {% else %}
        <h2> {{ results.promotionalblurb }} </h2>
        <div class="navigation-days">
            <ul>
                {% for i in range(0, results["duration"], +1) %}
                    <li class="{{ i }}">
                        Day {{ i }}
                    </li>
                {% endfor %}
            </ul>
        </div>
        {% for day in results["itineraryperday"] %}

            <section class="day-card">
                <h3> Day {{ loop.index }} </h3>
                <p> {{ day["daysummary"] }} </p>
                <h4>Lodging: </h4>
                <p>{{ day["lodging"]["name"] }} &mdash; {{ day["lodging"]["address"] }} | cost: {{ day["lodging"]["cost"] }} </p>
                <h4>Meals: </h4>
                <p><strong>Breakfast: </strong> {{ day["food"]["breakfast"]["restaurant"] }} &mdash; {{ day["food"]["breakfast"]["address"] }} </p>
                <p><strong>Lunch: </strong> {{ day["food"]["lunch"]["address"] }} &mdash; {{ day["food"]["lunch"]["address"] }} </p>
                <p><strong>Dinner: </strong> {{ day["food"]["dinner"]["restaurant"] }} &mdash; {{ day["food"]["dinner"]["address"] }} </p>

                <h4>Activities: </h4>
                <p>{{ day["activities"]["name"] }} &mdash; {{ day["activities"]["address"] }} | cost: {{ day["activities"]["cost"] }} </p>
               
            </section>
        {% endfor %}
    {% endif %}
    
</section>

{% endblock %}