{% extends 'base.html' %}

{% block body %}

<section class="landing sidepage {{ current_page }}">
    <h1 class="serif hero">
        Let's Curate Your Escape
    </h1>
    <h2 class="subheader">Answer a few questions so we can tailor your itinerary.</h2>
</section>
<section class="itinerary-form">
    <div class="global-error">
        
    </div>
    <form id="itinerary-form">
        {% for field in fields %}
        {% if field.options %}
                <label for="{{ field.name | lower | replace(' ','_') }}"> {{ field.name }} : </label>
                {% for option in field.options %}

                <label class="input-container"> {{ option }} 
                    <input type="{{ field.type }}" name="{{ field.name | lower | replace(' ','_') }}" value="{{ option }}" id="{{ option }}"/>
                    <div class="{{ field.type }}"></div>
                </label>
                
                {% endfor %}
            {% else %}
                <label for="{{ field.name | lower | replace(' ', '_') }}"> {{ field.name }} : 
                    <div class="input-field">
                        <input type="{{ field.type }}" name="{{ field.name | lower | replace(' ', '_') }}" />
                    </div>
                </label>
                
            {% endif %}
        {% endfor %}
        <button type="submit" class="text-arrow-wrapper">
            <div class="arrow-wrapper">
                <img src="{{ url_for('static', filename='images/arrow.svg') }}" alt="arrow" class="arrow up-facing black-arrow">
            </div>
            <h3 class="subheader">
                Generate Itinerary
            </h3>
        </button>
    </form>
</section>
<section id="loader" class="stagger-fade-in hidden">
    <div style="--i: 0">
        <img src="{{ url_for('static', filename='images/icons/favicon.svg') }}" alt="Voyage app logo" id="loaderlogo">
    </div>
    <div class="loading-messages" style="--i: 1">
        <h3 data-period="2000" data-type='["Shaping Your Vision...", "Your Voyage Awaits...", "Setting Your Course...", "Anchored in Intention...", "Curating Your Trip..."]' data-ghost="Anchored in Intention..." class="typewrite">Curating Your Trip...</h3>
    </div>
    
<script src="{{ url_for('static', filename='javascript/form.js') }}"></script>
{% endblock %}