{% extends 'base.html' %}

{% block body %}


        <section class="landing sidepage itinerary">
            <h1 class="hero serif"> Hong Kong in Three Days</h1>
            <h2 class="blurb sidepage"> Experience the vibrant pulse of Hong Kong with a luxurious 3-day itinerary! From the iconic skyline views at Victoria Peak to the spiritual tranquility of ancient temples and the culinary delights of bustling night markets, this trip blends urban sophistication with rich cultural immersion. Stay in style at The Peninsula Hong Kong and savor world-class dining, all while exploring the city&#39;s diverse attractions with ease and comfort. </h2>
        </section>

        <section class="itinerary-wrapper">
        
            <div class="navigation-days">
            <ul class="itinerary-top-navigation uppercase">
                
                    <a href="#day1"><li class="1">
                        Day 1
                    </li></a>

                    <a href="#day2"><li class="2">
                        Day 2
                    </li></a>

                    <a href="#day3"><li class="3">
                        Day 3
                    </li></a>
                
            </ul>
        </div>
        

            <section class="day-card" id="day1">
                <h3 class="itinerary-heading serif"> Day 1 </h3>
                <p> Arrive in Hong Kong and check into the luxurious Peninsula Hotel. Begin your adventure with a classic local breakfast before heading to Victoria Peak for breathtaking panoramic views of the city skyline. Enjoy a casual lunch, followed by an exquisite dinner overlooking Victoria Harbour. </p>
                <h4>Lodging: </h4>
                <p>The Peninsula Hong Kong &mdash; Salisbury Road, Tsim Sha Tsui, Kowloon, Hong Kong | cost: 4500 </p>
                
                <h4>Meals: </h4>
                <p><strong>Breakfast: </strong> Australia Dairy Company &mdash; G/F, 47-49 Parkes Street, Jordan, Hong Kong </p>
                <p><strong>Lunch: </strong> Various locations, e.g., 20/F, World Trade Centre, Causeway Bay, Hong Kong &mdash; Various locations, e.g., 20/F, World Trade Centre, Causeway Bay, Hong Kong </p>
                <p><strong>Dinner: </strong> Aqua &mdash; 29F + 30F, One Peking, 1 Peking Road, Tsim Sha Tsui, Hong Kong </p>

                <h4>Activities: </h4>
                <p>Victoria Peak &amp; Sky Terrace 428 &mdash; The Peak Tower, 128 Peak Road, The Peak, Hong Kong | cost: 150 </p>
               
            </section>
        

            <section class="day-card" id="day2">
                <h3 class="itinerary-heading serif"> Day 2 </h3>
                <p> Immerse yourself in Hong Kong&#39;s vibrant culture starting with a visit to the Wong Tai Sin Temple. Savor Michelin-starred dim sum for lunch, then experience the bustling atmosphere and diverse street food at the Temple Street Night Market for dinner. </p>
                <h4>Lodging: </h4>
                <p>The Peninsula Hong Kong &mdash; Salisbury Road, Tsim Sha Tsui, Kowloon, Hong Kong | cost: 4500 </p>
                <h4>Meals: </h4>
                <p><strong>Breakfast: </strong> The Corner Cafe &mdash; Shop 1, G/F, Peninsula Centre, 67 Mody Road, Tsim Sha Tsui, Hong Kong </p>
                <p><strong>Lunch: </strong> G/F, 9-11 Fuk Wing Street, Sham Shui Po, Hong Kong &mdash; G/F, 9-11 Fuk Wing Street, Sham Shui Po, Hong Kong </p>
                <p><strong>Dinner: </strong> Temple Street Night Market (Food Stalls) &mdash; Temple Street, Jordan, Hong Kong </p>

                <h4>Activities: </h4>
                <p>Wong Tai Sin Temple &mdash; 2 Chuk Yuen Village, Wong Tai Sin, Kowloon, Hong Kong | cost: 0 </p>
               
            </section>
        

            <section class="day-card" id="day3">
                <h3 class="itinerary-heading serif"> Day 3 </h3>
                <p> Enjoy a luxurious breakfast at your hotel before embarking on a scenic journey to Lantau Island via the Ngong Ping 360 Cable Car. Visit the majestic Big Buddha and Po Lin Monastery, enjoying a vegetarian lunch there. Conclude your trip with a sophisticated Northern Chinese dinner, offering stunning harbor views. </p>
                <h4>Lodging: </h4>
                <p>The Peninsula Hong Kong &mdash; Salisbury Road, Tsim Sha Tsui, Kowloon, Hong Kong | cost: 4500 </p>
                <h4>Meals: </h4>
                <p><strong>Breakfast: </strong> The Lobby, The Peninsula Hong Kong &mdash; Salisbury Road, Tsim Sha Tsui, Kowloon, Hong Kong </p>
                <p><strong>Lunch: </strong> Ngong Ping, Lantau Island, Hong Kong &mdash; Ngong Ping, Lantau Island, Hong Kong </p>
                <p><strong>Dinner: </strong> Hutong &mdash; 18/F, H Zentre, 15 Middle Road, Tsim Sha Tsui, Hong Kong </p>

                <h4>Activities: </h4>
                <p>Ngong Ping 360 Cable Car &amp; Big Buddha &mdash; Ngong Ping, Lantau Island, Hong Kong | cost: 235 </p>
               
            </section>
        
    
    
</section>


{% endblock %}